.panel1 > .display > .shirt {
  content:url(http://i.imgur.com/f4MDU7O.png);
}

.panel2 > .display > .shirt {
  content:url(http://i.imgur.com/g0RtIBk.png);
}

.panel3 > .display > .shirt {
  content:url(http://i.imgur.com/VLwmePn.png);
}

.panel4 > .display > .shirt {
  content:url(http://i.imgur.com/g0RtIBk.png);
}

.panel5 > .display > .shirt {
  content:url(http://i.imgur.com/g0RtIBk.png);
}

.panel6> .display > .shirt {
  content:url(http://i.imgur.com/f4MDU7O.png);
}

.panel7 > .display > .shirt {
  content:url(http://i.imgur.com/f4MDU7O.png);
}

.panel8 > .display > .shirt {
  content:url(http://i.imgur.com/f4MDU7O.png);
}

.panel9 > .display > .shirt {
  content:url(http://i.imgur.com/g0RtIBk.png);
}

.panel10 > .display > .shirt {
  content:url(http://i.imgur.com/VLwmePn.png);
}

.panel11 > .display > .shirt {
  content:url(http://i.imgur.com/VLwmePn.png);
}

.panel12 > .display > .shirt {
  content:url(http://i.imgur.com/f4MDU7O.png);
}
